// Заголовки, общие БЄМ блоки и проче...

.title {
   font-size: rem(18);
   font-weight: 700;
   letter-spacing: 2.31px;
   text-transform: uppercase;
   line-height: math.div(21, 18);
   margin: 0px 0px rem(80) 0px;
   &::after {
      content: "";
      background-color: #00a4e5;
      width: 50px;
      height: 2px;
      display: block;
      margin: rem(13) auto;
   }
}
